
<h2>Titre Ici</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<div class="content">
		<p>
			Le site a été créé cette année pour vous procurer le meilleur forum du Net !

			Nous vous promettons de :
			<ul>
				<li>vous fournir un contenu attrayant !</li>
				<li>vous fournir une ambiance amicale !</li>
				<li>surtout vous fournir un environnement où vous pourrez vous amuser !</li>
			</ul>
		</p>
	</div>

	<span class="corners-bottom"><span></span></span></div>
</div>

