<div class="grid_12">
            	<h2>presentation des modules sap</h2>
                <div class="box-7">
                	<div>
                    	<a href="#" class="link-2"></li><h2>Financial</h2></a>
                        <p class="p4">Le module FI (Financial) contient toutes les écritures des ventes et achats, lesquelles se déversent dans la comptabilité générale via la comptabilité client ou fournisseur.</p>
							<div class="last">
						<a href="#" class="link-2"><h2>Controlling(SAP CO)</h2></a>
                        <p class="p4">Le module CO (Controlling) concerne le contrôle de gestion. 
 </p>
                        <a href="#" class="link-2">Development</a>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                    </div>
						    
                        <a href="#" class="link-2"><h2>Material Management(SAP MM)</h2></a>
                        <p>est le module logistique de SAP. Il gère les achats d’articles et les stocks d’articles (les mouvements de stocks : entrées et sorties, transferts de stocks).</p>
                    </div>
				
                    <div>
                    	<a href="#" class="link-2"><h2>Human resource(SAP HR/HCM)</h2></a>
							<p class="p4">Données de base du personnel
										  Suivi du temps de travail
										   Suivi des carrières
										   Gestion des compétences
										   Recrutement de personnel
										   Gestion des demandes de déplacement
										   Suivi des frais de déplacement
										   Gestion de la paie
										   Employee self-service
											Manager self-service</p>
                    </div>
                    <div class="last">
                    	<a href="#" class="link-2"><h2>Sale Distribution(SAP SD)</h2></a>
                        <p class="p4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        <a href="#" class="link-2">Development</a>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
						</div>
						<div class="last">
						<a href="#" class="link-2"><h2>Devellopment(SAP ABAP)</h2></a>
                        <p class="p4">ABAP: application for business avdanved programming il s'agit du langage de programmation du systeme qui permet de faciliter le travail du consultant en lui offrant une interface
						       conviviale.</p>
                        <a href="#" class="link-2">Development</a>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                    </div
					<div class="last">
						<a href="#" class="link-2"><h2>Administration(SAP BASIS)</h2></a>
                        <p class="p4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                        <a href="#" class="link-2">Development</a>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                    </div>
					<div class="last">
						<a href="#" class="link-2"><h2>Production Planning(SAP PP)</h2></a>
                        <p class="p4">Le module PP (Production Planning) concerne la gestion de la Production. 
Y sont intégrées des notions telles que :</p>
                        <a href="#" class="link-2">Development</a>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                    </div>
					<div class="last">
						<a href="#" class="link-2"><h2>Warehouse Management(SAP WM)</h2></a>
                        <p class="p4">gestion globale des entrepots</p>
                        <a href="#" class="link-2">Development</a>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                    </div>
                </div>
                <a href="#" class="button top-4">Read More</a>
            </div>  
			         <h2>telecharger ou uploader un fichier ici</h2>
			   			      <form method="POST" enctype="multipart/form-data">
		 <input type="file" name="fichier" /> <br/>
		 <br/>
		 <input type="submit" value="envoyer" />
		 </form>
            <div class="clear"></div>
        </div>