/*-------------------
    GENERAL
-------------------*/

html, body {
	color: #053754;
	background: url("./images/background.jpg") no-repeat center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */;
	padding: 0;
}
#wrap {	
	margin-top: 12px;
	border-radius:20px;
    border: 2px solid #fff;
	box-shadow: 2px 1px 5px #053754;
	background-color: rgba(255, 255, 255, 0.45);
    background-image: none;
}
a, table.table1 td, h3, dl.details dd, dl.details dd a, dl.faq a, .postprofile, ul.topiclist li, ul.topiclist li:hover, .content dl.faq, .content h2, .panel h2, dt label, dt span, .copyright {
    color: #053754;
}
h3 {
	border-bottom-color: #053754;
}
.content h2, .panel h2 {
	border-bottom-color: #053754;
	color:#fff;
}
hr, #wrap, .panel-container h3, .panel-container hr, #cp-menu hr, ul.linklist li.responsive-menu a.responsive-menu-link::before, ul.linklist li.responsive-menu a.responsive-menu-link:hover:before, ul.linklist li.responsive-menu a.responsive-menu-link.a:before {
	border-color: #FFF;
}

/*----------------
    HEADER
-----------------*/

.headerbar {
    background-color: transparent;
    background-image: none;
}
.imageset.site_logo {
	background-image: url("./images/site_logo.png");
	padding-left: 0;
	padding-top: 0;
	height:100px;
	width:203px;
}

/*----------------
    NAVBARS
-----------------*/

/* Upper Navbar 
-----------------*/

.navbar-wrap {
	background-color: rgba(0, 102, 153, 0.55);
    background-image: none;
	border-color: #053754;
}
.navbar {
	background-color: transparent;
    background-image: none;
	border-color: #053754;
	color:#fff;
	max-width: 1152px;
	margin: 0 auto;
}
#nav-breadcrumbs {
	border-radius:7px;
	padding: 3px 10px;
	margin-bottom: 3px;
	background-color: rgba(0, 102, 153, 0.55);
    background-image: none;
	border-color: #053754;
	color:#fff;
}
ul.navlinks {
    border-top: none;
}
.navbar a, #nav-breadcrumbs a{
	color:#fff;
}

/* Lower Navbar 
-----------------*/
#page-footer .navbar {
	background-color: rgba(0, 102, 153, 0.55);
    background-image: none;
	border-color: #053754;
	color:#fff;
	max-width: 1152px;
	margin: 0 auto;
}

/*-------------------
    DROPDOWN LINKS
-------------------*/

.dropdown-extended .header {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #000 0%, #053754 100%) repeat scroll 0 0;
}
.dropdown-extended .header, .dropdown-extended .footer {
    border-color: #fff;
    color: #fff;
    text-shadow: none;
}
.dropdown .dropdown-contents {
	background-color: rgba(0, 102, 153, 0.90);
    border-color: #e4eff1;
	color:#fff;
}
.dropdown .pointer-inner {
    border-color: rgba(0, 102, 153, 0.90) transparent;
}
.dropdown .pointer {
    border-color: #fff transparent;
}
.dropdown .contact-icons{
	background-color: rgba(0, 102, 153, 0.90);
	box-shadow: 2px 2px 5px #333;
}
.dropdown .contact-icons a:hover{
    background-color: #fff;
}
#jumpbox a, .dropdown .dropdown-contents a{
    color:#fff;
}

/*-------------------
    INPUT FIELD
-------------------*/

.inputbox {
	background-color: #FFFFFF;
    border: 1px solid #fff;
	color: #333333;
	border-radius: 7px;
	padding:5px;
}
.inputbox:hover {
	border-color: #47c99a;
}
.inputbox:focus {
	border-color: #47c99a;
}

/*-------------------
    POLLS
-------------------*/

fieldset.polls dl {
    border-top-color: #f5f5f5;
    color: #f5f5f5;
}
fieldset dd {
    color: #000;
}

/*----------------
    BOXES
-----------------*/

#smiley-box {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 7px;
    color: #053754;
    float: right;
    padding: 3px;
	width:16%;
}
#message-box {
    background-color: none;
    border: none;
	width:80%;
}
.content, #message-box textarea{
    color:#053754;
}

/*----------------
    CATEGORIES
-----------------*/

.forabg, .panel {
	background-color: rgba(0, 102, 153, 0.55);
    background-image: none;
	border-color: #053754;
	color:#053754;
}

/*--------------------
    FORUMS & POSTS
--------------------*/

.forumbg {
	background-color: rgba(0, 102, 153, 0.55);
    background-image: none;
}
.bg2 {
	background-color: rgba(255, 255, 255, 0.65);
}
.bg3 {
	background-color: rgba(0, 102, 153, 0.75);
}
.bg3 h2, .panel-container h3, #cp-main h2 span a, .panel-container hr, #cp-menu hr, #navigation a, #navigation a:hover, label, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #fff;
}
ul.forums, .bg1, .panel-container .panel {
	background-color: rgba(255, 255, 255, 0.45);
    background-image: none;
}
li.row {
    border-color: #053754;
    border-top-color: #ffffff;
}
li.row:hover {
	background-color: rgba(255, 255, 204, 0.25);
}

/*----------------
    STATISTICS
-----------------*/

.headerspace, .stat-block {
	background-color: rgba(0, 102, 153, 0.55);
    background-image: none;
	border-color: #053754;
	color:#fff;
    border-radius: 7px;
    clear: both;
    margin-bottom: 4px;
    padding: 5px;
}
.headerspace h3, .stat-block h3{
    margin-top:5px;
}
.headerspace:hover, .stat-block:hover {
	background-color: rgba(0, 102, 153, 0.45);
}
.stat-block h3, .stat-block h3 a{
	color:#fff;
}

table.table1 tbody tr {
    border-color: #fff;
}
fieldset.display-options label {
    color: #053754;
}

/*--------------------------
    NAVIGATION PANELS (PM)
--------------------------*/

#navigation a {
	background: #3689af;
	background: -moz-linear-gradient(left, #3689af 50%, #8dbbd1 100%);
	background: -webkit-gradient(left top, right top, color-stop(50%, #3689af), color-stop(100%, #8dbbd1));
	background: -webkit-linear-gradient(left, #3689af 50%, #8dbbd1 100%);
	background: -o-linear-gradient(left, #3689af 50%, #8dbbd1 100%);
	background: -ms-linear-gradient(left, #3689af 50%, #8dbbd1 100%);
	background: linear-gradient(to right, #3689af 50%, #8dbbd1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3689af', endColorstr='#8dbbd1', GradientType=1 );
}
#navigation a:hover {
	background: #8dbbd1;
}
#navigation #active-subsection a {
	background: #8dbbd1;
	color: #053754;
}
#navigation #active-subsection a:hover {
	color: #053754;
}

/*-----------
    PANELS
-----------*/

.panel dd label{
	color:#000;
}
.panel a{
	color: #000;
}
label .search_forum {
    border-top-color: #f5f5f5;
    color: #000;
}
a.arrow-left:hover{
    color:#fff;
}
.panel p {
    color:#fff;
}
.postlink, .postlink a, .postlink:hover{
	border-bottom-color: #47c99a;
    color: #47c99a;
}

/*-------------
    BUTTONS
-------------*/

.button {
	background-color: #e4eff1;
	background-image: -moz-linear-gradient(top, #e4eff1, #b4d1d7);
	background-image: -webkit-linear-gradient(top, #e4eff1, #b4d1d7);
	background-image: -o-linear-gradient(top, #e4eff1, #b4d1d7);
	background-image: linear-gradient(to bottom, #e4eff1, #b4d1d7);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e4eff1', EndColorStr='#b4d1d7')";
	box-shadow: 0 0 0 1px #e4eff1 inset;
	-webkit-box-shadow: 0 0 0 1px #e4eff1 inset;
}
.button, .button:hover, .dropdown-visible .dropdown-select, .nojs .dropdown-container:hover .dropdown-select {
	background-image: -moz-linear-gradient(top, #b4d1d7, #e4eff1);
	background-image: -webkit-linear-gradient(top, #b4d1d7, #e4eff1);
	background-image: -o-linear-gradient(top, #b4d1d7, #e4eff1);
	background-image: linear-gradient(to bottom, #b4d1d7, #e4eff1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#b4d1d7', EndColorStr='#e4eff1')";
	text-shadow: 1px 1px 0 #e4eff1, -1px -1px 0 #e4eff1, -1px -1px 0 rgba(188, 42, 77, 0.2);
}
.button:hover, .dropdown-visible .dropdown-select, .nojs .dropdown-container:hover .dropdown-select,.search-box .inputbox, .search-box .inputbox:hover, .search-box .inputbox:focus, .search-box .button:hover {
    border-color: #669999;
}

/*-------------
    TABS
-------------*/

#tabs .tab > a {
	background-color: rgba(0, 102, 153, 0.70);
    color: #fff;
}
#tabs .tab > a:hover {
	background-color: rgba(0, 102, 153, 0.90);
    color: #fff;
}
#tabs .activetab > a, #tabs .activetab > a:hover {
	background: rgba(0, 102, 153, 0.90);
    border-color: none;
    box-shadow: 0 1px 1px #fff inset;
    color: #fff;
}

/*-------------
    ICONS
-------------*/

dl.icon dt .list-inner {
    padding-left: 75px;
}

.global_read													{ background-image: url("./images/announce_read.png"); }
.global_read_mine												{ background-image: url("./images/announce_read_mine.png"); }
.global_read_locked												{ background-image: url("./images/announce_read_locked.png"); }
.global_read_locked_mine										{ background-image: url("./images/announce_read_locked_mine.png"); }
.global_unread													{ background-image: url("./images/announce_unread.png"); }
.global_unread_mine												{ background-image: url("./images/announce_unread_mine.png"); }
.global_unread_locked											{ background-image: url("./images/announce_unread_locked.png"); }
.global_unread_locked_mine										{ background-image: url("./images/announce_unread_locked_mine.png"); }
.announce_read													{ background-image: url("./images/announce_read.png"); }
.announce_read_mine												{ background-image: url("./images/announce_read_mine.png"); }
.announce_read_locked											{ background-image: url("./images/announce_read_locked.png"); }
.announce_read_locked_mine										{ background-image: url("./images/announce_read_locked_mine.png"); }
.announce_unread												{ background-image: url("./images/announce_unread.png"); }
.announce_unread_mine											{ background-image: url("./images/announce_unread_mine.png"); }
.announce_unread_locked											{ background-image: url("./images/announce_unread_locked.png"); }
.announce_unread_locked_mine									{ background-image: url("./images/announce_unread_locked_mine.png"); }
.forum_link														{ background-image: url("./images/forum_link.png"); }
.forum_read														{ background-image: url("./images/forum_read.png"); }
.forum_read_locked												{ background-image: url("./images/forum_read_locked.png"); }
.forum_read_subforum											{ background-image: url("./images/forum_read_subforum.png"); }
.forum_unread													{ background-image: url("./images/forum_unread.png"); }
.forum_unread_locked											{ background-image: url("./images/forum_unread_locked.png"); }
.forum_unread_subforum											{ background-image: url("./images/forum_unread_subforum.png"); }
.sticky_read													{ background-image: url("./images/sticky_read.png"); }
.sticky_read_mine												{ background-image: url("./images/sticky_read_mine.png"); }
.sticky_read_locked												{ background-image: url("./images/sticky_read_locked.png"); }
.sticky_read_locked_mine										{ background-image: url("./images/sticky_read_locked_mine.png"); }
.sticky_unread													{ background-image: url("./images/sticky_unread.png"); }
.sticky_unread_mine												{ background-image: url("./images/sticky_unread_mine.png"); }
.sticky_unread_locked											{ background-image: url("./images/sticky_unread_locked.png"); }
.sticky_unread_locked_mine										{ background-image: url("./images/sticky_unread_locked_mine.png"); }
.topic_moved													{ background-image: url("./images/topic_moved.png"); }
.topic_read														{ background-image: url("./images/topic_read.png"); }
.topic_read_mine												{ background-image: url("./images/topic_read_mine.png"); }
.topic_read_hot													{ background-image: url("./images/topic_read.png"); }
.topic_read_hot_mine											{ background-image: url("./images/topic_read_mine.png"); }
.topic_read_locked												{ background-image: url("./images/topic_read_locked.png"); }
.topic_read_locked_mine											{ background-image: url("./images/topic_read_locked_mine.png"); }
.topic_unread													{ background-image: url("./images/topic_unread.png"); }
.topic_unread_mine												{ background-image: url("./images/topic_unread_mine.png"); }
.topic_unread_hot												{ background-image: url("./images/topic_unread_hot.png"); }
.topic_unread_hot_mine											{ background-image: url("./images/topic_unread_hot_mine.png"); }
.topic_unread_locked											{ background-image: url("./images/topic_unread_locked.png"); }
.topic_unread_locked_mine										{ background-image: url("./images/topic_unread_locked_mine.png"); }
.pm_read														{ background-image: url("./images/topic_read.png"); }
.pm_unread														{ background-image: url("./images/topic_unread.png"); }

.icon-acp					{ background-image: url("./images/icon_acp.png"); }
.icon-bookmark				{ background-image: url("./images/icon_bookmark.png"); }
.icon-bump					{ background-image: url("./images/icon_bump.png"); }
.icon-contact				{ background-image: url("./images/icon_pm.png"); }
.icon-delete-cookies		{ background-image: url("./images/icon_delete_cookies.png"); }
.icon-download				{ background-image: url("./images/icon_download.png"); }
.icon-faq					{ background-image: url("./images/icon_faq.png"); }
.icon-home					{ background-image: url("./images/icon_home.png"); }
.icon-logout				{ background-image: url("./images/icon_logout.png"); }
.icon-mcp					{ background-image: url("./images/icon_mcp.png"); }
.icon-members				{ background-image: url("./images/icon_members.png"); }
.icon-notification			{ background-image: url("./images/icon_notification.png"); }
.icon-pm					{ background-image: url("./images/icon_pm.png"); }
.icon-profile				{ background-image: url("./images/icon_profile.png"); }
.icon-register				{ background-image: url("./images/icon_register.png"); }
.icon-search, .responsive-search a { background-image: url("./images/icon_search.png"); }
.icon-subscribe				{ background-image: url("./images/icon_subscribe.png"); }
.icon-team					{ background-image: url("./images/icon_team.png"); }
.icon-ucp					{ background-image: url("./images/icon_ucp.png"); }
.icon-unsubscribe			{ background-image: url("./images/icon_unsubscribe.png"); }